
  <section class="contact_section layout_padding">
    <div class="container px-0">
      <div class="heading_container">
        <h2 class="">
          Con<span>ta</span>ct Us
        </h2>
      </div>

    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-8 col-md-7 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60710.82123898554!2d79.51632155975474!3d18.00540780391062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a334f75c05023ed%3A0x2352eaaf6fe897ea!2sHanamkonda%2C%20Telangana!5e0!3m2!1sen!2sin!4v1616265468402!5m2!1sen!2sin" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe> -->

              <img src="/images/contactUs.png" style="width: 100%; height: 100%;" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4 px-0">
          <form action="/contactUs" method="POST">
            <div>
              <input type="text" placeholder="Name" name="Name"/>
            </div>
            <div>
              <input type="email" placeholder="Email" name="Mail"/>
            </div>
            <div>
              <input type="text" placeholder="Phone" name="Phno" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" name="Mess"/>
            </div>
            <div class="d-flex ">
              <button>
                Contact
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>