<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
 <title>HyperDevelopers</title>
<meta name="description" content="HYPER DEVELOPERS a new Start up company Which provides a Web Development Services. We also Provide you the Logo designing, We designing and banner Ads designing">
<meta name="keywords" content="hyperdevelopers, hyper, developers, webdevelopers, NethajiAchha, best web developmenet company">
<meta name="robots" content="index, follow">
<meta name="copyright" content="HyperDevelopers">
<meta name="language" content="EN">
<meta name="author" content="NETHAJI ACHHA">
<meta name="rating" content="general">
  

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5644d3">
<meta name="msapplication-TileColor" content="#5644d3">
<meta name="theme-color" content="#5644d3">
  <title>
    Hyper Developers
  </title>
      
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <!-- google ads link -->
  <script data-ad-client="ca-pub-5105471777929064" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJSFWZPPHJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QJSFWZPPHJ');
</script>
<!-- bounce rate -->
<script type="text/javascript">

  setTimeout(function(){  
  
  setInterval(function(){ gtag('event', 'Open', {'event_category': 'TimeOnPage'}); }, 10000);
  
  setInterval(function(){ if(!document.hidden) gtag('event', 'Visible', {'event_category': 'TimeOnPage'}); }, 10000);
  
  }, 60000);
  
  </script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">
                    About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service">
                    Services
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="portfolio">
                    Portfolio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact Us</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
    </header>