 <!-- client section -->

 <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>OUR</span> TEAM
        </h2>
      </div>
     <%# Nethaji Achha %>
      <div class="box">
        <div class="client_id">
          <div class="name">
            <h4>
              Nethaji <br>
              Achha
            </h4>
            <span>CEO, Founder, <br> full stack Webdeveloper</span>
          </div>
          <div class="img-box" >
            <img src="images/nethaji_achha.jpg" alt="CEO HyperDevelopers">
          </div>
        </div>
        <div class="detail-box">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
          </p>
          <img src="images/quote.png" alt="">
        </div>
      </div>
      <%# Saiganesh %>
      <div class="box">
        <div class="client_id">
          <div class="name">
            <h4>
              Sai  Ganesh<br>
             
            </h4>
            <span>CO-Founder, <br> WebDesigner</span><br><br>
          </div>
          <div class="img-box" >
            <img src="images/nethaji_achha.jpg" alt="CEO HyperDevelopers">
          </div>
        </div>
        <div class="detail-box">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
          </p>
          <img src="images/quote.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->