<section class="portfolio_section">
    <div class="heading_container">
      <h2>
        Por<span>tf</span>olio
      </h2>
      <p>
        Websites We Designed
      </p>
    </div>
    <div class="portfolio_container layout_padding">
      <div class="box-1">
        <div class="img-box b-1">
          <img src="images/urbook.png" alt="urbook.in">
          <div class="btn-box">
            <a href="http://www.urbook.in/" target="_blank" class="btn-1">

            </a>
            
          </div>
        </div>
        <div class="img-box b-2">
         
            <img src="images/learncourses_pot.png" alt="learncourses.in">
            <div class="btn-box">
              <a href="http://www.learncourses.in/" target="_blank" class="btn-1">
  
              </a>
          </div>
        </div>
      </div>
      <div class="box-2">
        <div class="img-box b-3">
            <img src="images/urbook_pot.png" alt="urbook.in">
            <div class="btn-box">
              <a href="http://www.urbook.in/" target="_blank" class="btn-1">
  
              </a>
           
          </div>
        </div>
        <div class="img-box b-4">
          <img src="images/learncourses.png" alt="learncourses.in">
          <div class="btn-box">
            <a href="http://www.learncourses.in/" target="_blank" class="btn-1">

            </a>
           
          </div>
        </div>
      </div>
    </div>
  </section>