<%- include("partials/navbar") %>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-success"><strong>SUCCESSFULLY SUBMITTED !</strong></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hey, your application is successfully submitted <br><br>
    Our Team will contact you soon <br>
Thankyou for your Interst.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/">Go to Home</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4 mx-2" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
<%- include("partials/footer") %>